body {
    background-color: #c4b6a5;
}

#video {
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    animation: video-animatie 1.2s 1;
}

@keyframes video-animatie {
  0%   { opacity: 0%; }
  100% { opacity: 100%; }
}

div {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 3px;
}

div img {
    width: 10%;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin: 0 50px;
    animation: knop-animatie 1.2s 1;
}

@keyframes knop-animatie {
  0%   { opacity: 0%; margin: 0px}
  50%   { opacity: 0%; margin: 0px}
  100% { opacity: 100%; margin: 0 50px}
}

div img:hover{
    transform: scale(1.2);    
}

#loader {
  position: absolute;
  left: 20%;
  top: 15%;
  z-index: 1;
  width: 52%;
  height: 79%;
  background: url(pizzeria_files/preloader.gif) 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
